.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  background-color: #ececec;
  padding: 0 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  * {
    margin-bottom: 20px;
    // overflow: auto;
  }
}
