.baseInfoItem {
  background-color: #eeeeee;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  min-height: 40px;
}

.leftName {
  width: 35%;
  border-right: 1px solid #ccc;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 15px;
}

.rightIntroduce {
  flex: 1;
  word-break: break-all;
  text-indent: 1em;
  padding:  10px;
  color: #6e6a6a;
  font-size: 13px;
}
