.hcPackage {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 0 10px;
  background-color: #efefef;
  flex: 1;
  overflow: auto;
}

.avatar {
  --border-radius: 50%;
  --size: 35px;
}
